.user_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 180vh;
}


.user_details {
  padding: 40px;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  flex-flow: column wrap;
  text-align: left;
  box-shadow: 5px 5px 15px 5px rgba(172, 171, 171, 0.5);
  border-radius: 10px;
  margin-bottom: 30px;
}

.address_details {
  padding: 40px;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  flex-flow: column wrap;
  text-align: left;
  border-radius: 10px;
}

.title_drop {
  padding: 20px;
  transition: 200ms;
  border-radius: 10px;
}

.title_drop:hover {
  box-shadow: 5px 5px 15px 5px rgba(141, 141, 141, 0.35);
  cursor: pointer;
}